#App {
  background-color: var(--black);
  text-align: center;
}
#App::before {
  position: fixed;
  top: 0;
  left: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
#App::after {
  position: fixed;
  top: 0;
  right: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.page-wrapper::before {
  position: fixed;
  top: 15%;
  left: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.page-wrapper::after {
  position: fixed;
  right: 1%;
  top: 15%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.logo {
  max-width: 390px;
  width: 100%;
}
.intro::before {
  position: fixed;
  top: 30%;
  left: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.intro::after {
  position: fixed;
  right: 1%;
  top: 30%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.summary::before {
  position: fixed;
  left: 1%;
  top: 45%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.summary::after {
  position: fixed;
  right: 1%;
  top: 45%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.login-area::before {
  position: fixed;
  left: 1%;
  top: 60%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.login-area::after {
  position: fixed;
  right: 1%;
  top: 60%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.supporting::before {
  position: fixed;
  left: 1%;
  top: 75%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.supporting::after {
  position: fixed;
  right: 1%;
  top: 75%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.explanation::before {
  position: fixed;
  left: 1%;
  top: 90%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.explanation::after {
  position: fixed;
  right: 1%;
  top: 90%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.participation::before {
  position: fixed;
  left: 1%;
  top: 100%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
.participation::after {
  position: fixed;
  right: 1%;
  top: 100%;
  content: "";
  padding: 2%;
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
}
header,
.summary {
  background-color: var(--white);
  padding: 10px;
  margin: 0 6%;
}
.summary {
  border-radius: 0 0 20px 20px;
}
.login-area,
.explanation {
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
  padding: 10px;
  margin: 5.5% 6% 0 6%;
}

.poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  min-width: 100%;
  font-family: "Bakbak One", cursive;
}

#poster {
  background: var(--white);
  width: 60%;
  position: relative;
  margin: 0 auto;
  z-index: 100;
}

@media (max-width: 768px) {
  #poster {
    width: 100%;
  }
}

#poster-layout {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#poster .header {
  flex: 1;
}

#poster .header-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./img1.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--black);
  text-align: left;
  text-transform: uppercase;
  padding-top: 5%;
}

#poster .header-text h1 {
  font-size: 8vw;
  margin: 5px;
  color: var(--red);
  font-family: "Bakbak One", cursive;
  line-height: 0.7em;
}

@media (max-width: 768px) {
  #poster .header-text h1 {
    font-size: 12vw;
  }

  #poster .header-text h3 {
    font-size: 5vw !important;
  }
}

#poster .header-text h3 {
  font-size: 2vw;
  margin: 5px;
  font-family: "Bakbak One", cursive;
}

.track-list {
  text-transform: uppercase;
  flex: 3;
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
  z-index: 999;
}

@media (min-width: 992px) {
  .track-list {
    margin-top: 35%;
  }
}

.track-list .tracks {
  position: relative;
  font-size: 0.7vw;
  text-align: left;
  overflow: hidden;
}

@media (max-width: 768px) {
  .track-list .tracks {
    font-size: 2vw;
  }
  .track-num {
    display: none !important;
  }
  .download-button {
    display: none !important;
  }
}

.track-list .tracks span {
  display: inline-block;
  margin: 0.2em;
  vertical-align: middle;
}

#poster-layout .footer {
  position: relative;
  flex: 1;
}

#poster-layout .footer:before {
  content: "";
  display: block;
  padding-top: 35%;
}

.footer-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./img3.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}

.track-item {
  vertical-align: middle;
  display: block;
  color: var(--black) !important;
}

.track-num {
  color: var(--red);
}
