#App {
  background-color: var(--black);
  text-align: center;
}
#App::before {
  position: fixed;
  top: 0;
  left: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
#App::after {
  position: fixed;
  top: 0;
  right: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.page-wrapper::before {
  position: fixed;
  top: 15%;
  left: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.page-wrapper::after {
  position: fixed;
  right: 1%;
  top: 15%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.logo {
  max-width: 390px;
  width: 100%;
}
.intro::before {
  position: fixed;
  top: 30%;
  left: 1%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.intro::after {
  position: fixed;
  right: 1%;
  top: 30%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.summary::before {
  position: fixed;
  left: 1%;
  top: 45%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.summary::after {
  position: fixed;
  right: 1%;
  top: 45%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.login-area::before {
  position: fixed;
  left: 1%;
  top: 60%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.login-area::after {
  position: fixed;
  right: 1%;
  top: 60%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.supporting::before {
  position: fixed;
  left: 1%;
  top: 75%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.supporting::after {
  position: fixed;
  right: 1%;
  top: 75%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.explanation::before {
  position: fixed;
  left: 1%;
  top: 90%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.explanation::after {
  position: fixed;
  right: 1%;
  top: 90%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.participation::before {
  position: fixed;
  left: 1%;
  top: 100%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
.participation::after {
  position: fixed;
  right: 1%;
  top: 100%;
  content: "";
  padding: 2%;
  background-color: var(--white);
}
header,
.summary {
  background-color: var(--white);
  padding: 10px;
  margin: 0 6%;
}
.summary {
  border-radius: 0 0 20px 20px;
}
.login-area,
.explanation {
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
  padding: 10px;
  margin: 5.5% 6% 0 6%;
}